<!DOCTYPE html>
<html lang="en" ng-app="fbEvents">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Facebook Event Search">
        <meta name="author" content="Boris Capitanu">
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <title>Intersections - Facebook Events Search</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ng-table.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/angular-busy.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="@routes.Assets.at("javascripts/angular.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls.js")"></script>
        <script src="@routes.Assets.at("javascripts/ng-table.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-animate.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-busy.js")"></script>
    </head>

    <body role="document">

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Intersections</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container" ng-controller="SearchController">
            <h1>Search Public Facebook Events</h1>

            <div class="row">
                <form name="frmEventQuery" class="form-horizontal well clearfix top20" role="form" ng-submit="searchEvents()" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtQuery" class="control-label col-md-2">Query:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="q" id="txtQuery" ng-model="model.eventQuery.keyword" autofocus="true" autocomplete="true" placeholder="Enter query">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" ng-class="{ 'has-error' : frmEventQuery.startDate.$invalid && !frmEventQuery.startDate.$pristine }">
                                <label for="txtStartDate" class="control-label col-md-2">From:</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="startDate" id="txtStartDate" placeholder="Select start date" datepicker-popup="MMMM, dd yyyy" ng-model="model.eventQuery.startDate" is-open="model.startDateOpened" datepicker-options="datePickerOptions" close-text="Close" ng-change="checkValidTimeInputs(frmEventQuery.startDate, frmEventQuery.endDate, frmEventQuery)">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span ng-show="frmEventQuery.startDate.$error.date" class="help-block">Invalid date!</span>
                                    <span ng-show="frmEventQuery.startDate.$error.startDate" class="help-block">Start date greater than end date!</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : frmEventQuery.endDate.$invalid && !frmEventQuery.endDate.$pristine }">
                                <label for="txtEndDate" class="control-label col-md-2">To:</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="endDate" id="txtEndDate" placeholder="Select end date" datepicker-popup="MMMM, dd yyyy" ng-model="model.eventQuery.endDate" is-open="model.endDateOpened" datepicker-options="datePickerOptions" close-text="Close" ng-change="checkValidTimeInputs(frmEventQuery.endDate, frmEventQuery.startDate, frmEventQuery)">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span ng-show="frmEventQuery.endDate.$error.date" class="help-block">Invalid date!</span>
                                    <span ng-show="frmEventQuery.endDate.$error.endDate" class="help-block">End date smaller than start date!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-md btn-block" ng-disabled="frmEventQuery.$invalid || frmEventQuery.$pristine">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" cg-busy="searchPromise">
                <section ng-show="model.events || model.status != null">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ model.events.length | number }} Results</h3>
                        </div>
                        <div class="panel-body">
                            <alert ng-show="model.status != null" type="danger">{{ model.status }}</alert>

                            <div class="table-responsive">
                                <table class="table table-condensed table-striped" ng-table="tableParams">
                                    <tr ng-repeat="event in $data">
                                        <td data-title="'Name'" sortable="'name'">
                                            <a href="https://www.facebook.com/{{ event.id }}" target="_blank">{{ event.name }}</a>
                                        </td>
                                        <td data-title="'Description'">{{ event.description }}</td>
                                        <td data-title="'Start Time'" sortable="'startTime'">{{ event.startTime.toLocaleString() }}</td>
                                        <td data-title="'End Time'" sortable="'endTime'">{{ event.endTime.toLocaleString() }}</td>
                                        <td data-title="'Location'">
                                            <div ng-if="event.locationLat != null && event.locationLon != null">
                                                <a href="http://maps.google.com/?q={{ event.locationLat }},{{ event.locationLon }}" target="_blank">{{ event.location }}</a>
                                            </div>
                                            <div ng-if="event.locationId != null && event.locationLat == null">
                                                <a href="https://www.facebook.com/{{ event.locationId }}" target="_blank">{{ event.location }}</a>
                                            </div>
                                            <div ng-if="event.locationId == null && event.locationLat == null">
                                                {{ event.location }}
                                            </div>
                                        </td>
                                        <td data-title="'Owner'" sortable="'ownerName'">
                                            <a href="https://www.facebook.com/{{ event.ownerId }}" target="_blank">{{ event.ownerName }}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer>
            <span>&copy; 2014 Intersections Project</span>
            <span class="pull-right text-right">
                Illinois Informatics Institute<br>
                University of Illinois at Urbana-Champaign
            </span>
        </footer>

        <script src="@routes.Assets.at("javascripts/app.js")"></script>
    </body>
</html>
